[Interface]
PrivateKey = <private>
Address = 10.0.0.2/32
DNS = 1.1.1.1

[Peer]
PublicKey = <public>
PresharedKey = <key>
Endpoint = vpn.example.com:51820
AllowedIPs = 0.0.0.0/0
# PersistentKeepalive = 25
